<div class = "wrapper">
  <div class = "side_wrap">
    <%= render "shared/side_bar"%>
  </div>

  <div class = "main top_page">
    <div class = "main_left">
      <p>Welcome to my portfolio!!</p>
      <% if user_signed_in? %>
        編集者ログイン中
      <% end %>
      <%= link_to '　', user_session_path, class:"admin_log"%>
    </div>
    <div class = "main_right">
      <div class = "my_twitter">
        <div class = "twitter_box">
              <a class="twitter-timeline" data-chrome=”noheader” data-width="350" href="https://twitter.com/ItAnmona?ref_src=twsrc%5Etfw">Tweets by ItAnmona</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

      <div class = "update">
        更新履歴
        <% @post.each do |post| %>
        <div>
          更新内容<%= post.new_post %> <br>
          更新日<%= post.created_at%>
        </div>
        <% end %>

        <% if user_signed_in? %>
          <%= form_with model:@post,url: new_posts_path, local: true do |f| %>
            <%= f.text_field :new_post, class:"クラス", placeholder:"更新内容" %>
            <%= f.submit "更新", class:"クラス"%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>