<div class = "wrapper">
  <div class = "side_wrap">
    <%= render "shared/side_bar"%>
  </div>

  <div class = "main my_work">
    <div class = "work_wrapper">
      <% @mywork.each do |f| %>
        <div class = "work_colum" >
          <%= image_tag f.pic, class:"work_pic" %>
          <div class = "work_exp">
          サイト名：<%= f.site_name%><br>
          URL：<%= f.url%><br>
          github：<%= f.github%><br>
          概要：<%= f.info%><br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>